* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #1e3a8a;
  --secondary: #d0d0d0;
  --bg: #0f0f0f;
}

body {
  background-color: var(--bg);
  color: var(--secondary);
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.about p {
  color: var(--secondary);
}

header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: rgba(15, 15, 15, 0.9);
  z-index: 1000;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.head-container {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.navmenu {
  font-size: 18px;
  display: flex;
  list-style: none;
  gap: 50px;
}

.navmenu a {
  text-decoration: none;
  color: var(--secondary);
}
.logo h2 {
  filter: drop-shadow(0 0 2px rgba(0, 212, 255, 0.6));
}

/* end of head section  */
#home {
  scroll-margin-top: 130px;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 65vh;
}
#ayush {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
}

.hero-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 65px;
}

.hero-section h3 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 15px;
}

.hero-section p {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
}
/* btn */
.hero-section-btn {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

/* about */
#about {
  scroll-margin-top: 100px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
  margin: auto;
  height: 80vh;
  justify-content: center;
}
.about img {
  height: 300px;
  width: auto;
}
.about_info {
  font-size: 20px;
  display: flex;
  justify-content: center;
  height: 50vh;
  flex-direction: column;
  align-items: left;
}
.about_info p,
.about_info {
  margin-bottom: 15px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  align-items: center;
}
/* projects */
#projects {
    scroll-margin-top: 90px; 
    height:160vh;
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show_project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 85%;
  margin: auto;
  gap: 80px;
}
.show_project img {
  width: 100%;
}
.card {
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card-body h2, .card-body p, .lang_span, button {
  margin-left:15px;
  margin-top: 15px;
}

.lang_span{
  display: flex;
  gap: 5px;
}

.card-body span{
  padding: 6px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(144, 140, 140);
  color: rgb(255, 255, 255);
}
/* footer */
.foot-container {
  border-top: 2px var(--secondary) solid;
  padding-top: 20px;
  width: 85%;
  margin: auto;
  height: 80px;
}

.copyrights {
  display: flex;
  justify-content: center;
  height: 40%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 50%;
}

footer {
  font-size: 17px;
  width: 100%;
  margin-top: 60px;
  padding-bottom: 20px;
}

.socials a {
  color: white;
}
